If the CSS file is stored in the same directory as your HTML file, then you can specify a relative path instead of a URL, like so:
<link href="./style.css" type="text/css" rel="stylesheet">
First, add a <link> element within the <head> section then, add the href attribute to the <link> element and set it equal to style.css.
For example, in HTML, the tag for a paragraph element is <p>. The CSS syntax for selecting <p> elements is:
p {

}

Two curly braces follow immediately after the selector (an opening and closing brace, respectively).
Any CSS properties will go inside of the curly braces to style the selected elements.
To select an HTML element by its class using CSS, a period (.) must be prepended to the class's name.
Example, if the class is set to title, the CSS selector for it is .title
  <h1 class="title">Top Vacation Spots</h1> in html code will appear as
.title {
  color: teal;
}
in style.CSS

Example of a heading:
h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}
A border is a line that surrounds an element, like a frame around a painting. Borders can be set with a specific width, style, and color.
Example of border:
p {
  border: 3px solid coral;
}

<p> CSS Code Used In School Schedule </p>
    <title>Timetable</title>
    <style type="text/css">
    body
    {
        font-family: Times New Roman;
    }

    th,td
    {
        margin: 0;
        text-align: center;
        border-collapse: collapse;
        outline: 1px solid #e3e3e3;
    }

    td
    {
        padding: 5px 10px;
    }

    th
    {
        background: #666;
        color: white;
        padding: 5px 10px;
    }

#demo {
		border: 4px solid;
		font-size: 22px;
		width: 78%;
		border-collapse: collapse;
		
	}

	#search {
		border: 4px solid;
		font-size: 22px;
		outline: 1px solid #e3e3e3;
		width: 10%;
		text-align: center;
		border-collapse: collapse;
		padding-left: 30px;

	}
    td:hover
    {
        cursor: pointer;
        background: #669;
        color: cyan;
    }
    </style>
